.btn {
    border: 0;
    border-radius: 0;
    line-height: 2em;
}

.btn-orange {
    color: #fff;
    background-color: $orange;
    text-align: left;
    width: 19.5%;
    position: relative;
    margin: 10px 0;
}

.btn.orange::after {
    position: absolute;
    content: '@';
    right: 0;
    width: 1.3em;
    height: 1em;
}

.btn-orange:hover {
    color: #fff;
    background-color: $blue;
}

.btn-submit {
    color: #fff;
    background-color: $orange;
    text-align: left;
    position: relative;
    margin: 10px 0;
}

.btn-submit:hover {
    color: #fff;
    background-color: $blue;
}


.btn-icon {
    position: absolute;
    top: -5px;
    right: 5px;
    width: 30px;
}
@media screen and (max-width:776px) {
    .btn-orange {
        display: block;
        width: 100%;
        margin: 20px 0;
    }
}
