$blue:    rgb(43,71,153);
$beige:   #f7efdb;
$orange:  #d89017;
$gray:    #9e9e9e;


@mixin blue() {
  background: $blue;
  color: white;
}

@mixin orange() {
  background: $orange;
  color: white;
}

@mixin gray() {
  background: $gray;
  color: white;
}

@mixin blue-navigtion() {
  background: $blue;
  color: white;
}
