.bg-beige{
    background: $beige;
}

.intro{
  background: $beige;
  position: relative;
  padding-bottom: 10em;
}

@media screen and (max-width: 414px) {
  .intro{
    padding-bottom: 2em;
  }
}
.section-content{
  background: $beige;
  position: relative;
}



@media screen and (max-width: 768px) {
  footer, section{
    padding: 10px;
  }
}
