.dropdown-menu {
    background-color: $blue;
    border: 1px solid $blue;
}

.dropdown-menu > li > a {
    color: white;
    font-weight: 400;
    font-weight: normal;
}
@media screen and (min-width: 776px) {
    .dropdown-menu {
        @include blue;
        border-radius: 0;
        left: 10px;
        background-color: $blue;
        margin-top: -1px;
    }

    .dropdown-menu > li {
        @include blue;
    }

    .dropdown-menu > li > a {
        color: white;
    }

    .dropdown-menu > li > a:focus,
    .dropdown-menu > li > a:hover {
        background: $blue;
        color: $orange;
    }
}
