footer {
    @include gray;
    padding-top: 2vh;
    border-top: 10px solid white;
}

footer ul li {
    padding-left: 1.25em;
}

footer ul li a {
    color: white;
}

footer ul li a:hover {
    color: $blue;
}

footer h4 {
    margin-bottom: 0;
    line-height: 25px;
}

.footer {
    padding-top: 15vh;
}
@media screen and (max-width: 768px) {
    .footer {
        padding-top: 30px;
    }
}

ul.footer-list li::after {
    content: "|";
    margin-left: 0.5em;
    color: black;
}
