.wrapper {
    border-left: 10px solid white;
    border-right: 10px solid white;
    overflow: hidden;
}

.label {
    border-radius: 0;
    text-align: left;
}

.form-control {
    border-radius: 0;
}

.container-fluid {
    padding: 0;
}

.icon-bell-blue {
    padding-left: 10px;
    margin-right: 8px;
}


@media screen and (min-width: 992px) {
  .visible-collapse{
    display: none!important;
  }
}
