$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
  }
}


/*
p {
  font-size: 16px;

  @include tablet {
    font-size: 155px;
  }

  @include desktop {
    font-size: 20px;
  }
}
*/
