body {
    overflow-x: hidden;
    letter-spacing: 0.02em;
    line-height: 1.563em;
}

header {
    background: $blue;
}

.home-icon-nav.affix * {
    display: block;
}
@media screen and (min-width:992px) {
    .home-icon-nav i {
        display: none;
    }
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    padding-right: 10px;
    z-index: 800;
}
@media screen and (max-width:992px) {
    #nav.affix {
        border-right: 10px solid white;
    }

    #nav.affix > nav > .container > .navbar-header > button {
        top: 0;
    }
}
@media screen and (max-width: 320px) {}

.metanav {
    position: relative;
    top: -200px;
    height: 20px;
    width: 100%;
    z-index: 150;
    font-weight: 600;
}

.metanav a {
    color: $blue;
}

.metanav a:hover {
    color: $orange;
}

.meta-nav-left {
    float: left;
}

.meta-nav-right {
    float: right;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default {
    @include blue;
    border: 0;
}

ul.nav.navbar-nav {}
@media screen and (min-width : 992px) {
    .nav-bg-white {
        display: none;
    }

    .navbar-nav {
        width: 100%;
        text-align: center;
        position: relative;
        z-index: 10;
        margin-top: 0;
    }

    .navbar-nav > li {
        display: inline-block;
        float: none;
    }

    .navbar-nav > li > a {
        padding-left: 30px;
        padding-right: 30px;
        text-transform: uppercase;
    }
}

.navbar-default .navbar-nav > li > a {
    @include blue;
    text-transform: uppercase;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: $orange;
    background: $blue;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: $orange;
    background: $blue;
}
//pipe seperators

ul.list-inline li::after {
    content: "|";
    margin-left: 0.5em;
    color: $blue;
}

ul.list-inline li:last-child():after {
    content: "";
    margin-left: 0;
}

.navbar-toggle {
    position: absolute;
    top: -110px;
    right: 10px;
    z-index: 999;
}
@media screen and (max-width: 992px) {
    .nav-bg-white {
        width: 100%;
        height: 80px;
        position: absolute;
        background-color: white;
        top: 0;
        left: 0;
        z-index: 0;
    }
    @media screen and (max-width: 687px) {
        .nav-bg-white {
            top: -10px;
        }
    }

    .metanav {
        display: none;
    }

    .navbar-toggle {
        position: absolute;
        top: -135px;
        right: 10px;
        z-index: 999;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: $blue;
        background-color: #fff;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: white;
    }

    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: $orange;
    }
}
@media screen and (max-width:414px) {
    .navbar-toggle {
        top: -80px;
        right: 0;
    }

    .navbar-default .navbar-toggle {}

    .navbar-default .navbar-toggle .icon-bar {}

    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: $orange;
    }
}
