.panel-primary {
    border-radius: 0;
    border: 0;
    font-weight: normal;
}

.panel-primary > .panel-heading {
    border-color: transparent;
    background-color: $orange;
}

.panel {
    background-color: transparent;
}

.panel-heading {
    border-radius: 0;
    font-weight: normal;
    margin-bottom: 10px;
}

h3.panel-title {
    font-weight: normal;
    margin-top: 0;
    padding-top: 0;
    text-transform: none;
}

.panel-body {
    padding: 0;
    background: white;
}

a.panel-link {
    text-decoration: none;
}

.panel:hover {
    .panel-heading {
        background-color: $blue;
        background: $blue;
    }

    .panel-body > img {
        opacity: 0.5;
    }
}

.teaser-panels {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width:992px) {
    .teaser-panels {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        background: $beige;
    }

    .panel-heading,
    .panel-primary,
    .panel-primary > .panel-heading {
        background: transparent;
    }

    .panel-heading {
        background-color: $orange!important;
        color: white;
    }
}
