.header-wrapper {
    width: 100%;
    position: relative;
}

.logo-wrapper {
    z-index: 99;
    position: relative;
    width: auto;
}

img.logo {
    display: block;
    margin: 0 auto;
    left: 50%;
    z-index: 99;
}

.circle {
    width: 160%;
    z-index: 1;
    position: absolute;
    bottom: 137px;
    margin-left: -30%;
    overflow-x: hidden;
}

.circle:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    background: #fff;
    padding-bottom: 15%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 10;
    display: block;
}

.circle div {
    float: left;
    width: 100%;
    line-height: 1em;
    text-align: center;
    color: white;
    z-index: 10;
    left: calc(35% - 400px);
}
@media screen and (max-width: 946px) {
    .circle {
        margin-top: -14vh;
    }
}
@media screen and (max-width: 768px) {
    .circle {
        margin-top: -13%;
    }

    .circle div {
        float: left;
        width: 100%;
        padding-top: 20%;
        line-height: 1em;
        margin-top: -0.5em;
        text-align: center;
        color: white;
        z-index: 10;
    }
}
@media screen and (max-width:414px) {

  .nav-bg-white{
    display: none;
  }
  .circle {
      bottom: 76px;
  }

  img.logo {
      display: block;
      margin: 0 auto;
      margin-top: 10px;
      left: 50%;
      z-index: 99;
  }

}
