.teaser-reservation {
    position: absolute;
    top: -50px;
    right: 20px;
    z-index: 999;
}

.teaser-reservation.affix {
    position: fixed;
    top: 5px;
    right: 30px;
    z-index: 999;
}

#shake {
    width: 100px;
}

@media screen and (max-width:992px) {
.teaser-reservation{
  display: none;
}

}

/*


@media screen and (max-width: 768px) {
    .teaser-reservation {
        position: absolute;
        top: -40px;
        right: 20px;
        z-index: 700;
    }

    #shake {
        width: 75px;
    }
}
@media screen and (max-width: 560px) {
    #shake {
        width: 75px;
    }
}
@media screen and (max-width:320px) {
    .teaser-reservation {
        right: 5px;
        top: -30px;
    }

    #shake {
        width: 65px;
    }
}



*/
