
.carousel-caption {
  position: absolute;
  top:0;
  padding: 1em 2em;

}
.carousel-caption > h1{
  background: rgba(255,255,255,0.88);
  font-family: $font-family-serif;
  font-weight: 600;
  font-size:46px;
  text-transform: uppercase;
  color: $orange;
  text-shadow: none;
  padding: 0.15em;
}


@media screen and (max-width: 560px) {
  .carousel-caption h1{
    font-size: 24px;
  }
}

.carousel-inner > .item > img {
  width: 100%;
}
