.wrapper {
    border-left: 10px solid white;
    border-right: 10px solid white;
    overflow: hidden;
}

.label {
    border-radius: 0;
    text-align: left;
}

.form-control {
    border-radius: 0;
}

.container-fluid {
    padding: 0;
}

.icon-bell-blue {
    padding-left: 10px;
    margin-right: 8px;
}


@media screen and (min-width: 992px) {
  .visible-collapse{
    display: none!important;
  }
}
polygon[id^=layer], rect[id^=layer], polyline[id^=layer] {
  opacity: 0.0
}

[id^=group]:hover polygon[id^=layer], [id^=group]:hover rect[id^=layer],[id^=group]:hover polyline[id^=layer] {
  opacity: 0.8
}

.svg-wrapper{
  height: auto;
}
svg *{
  position: relative;
  font-family: $headings-font-family;
  font-weight: 800;
}
