h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: 600;
}

h2,
h3 {
    padding-top: 7px;
}

h4 {
    font-size: 1em;
}

h3.margin-fix {
    margin-top: 0;
}

p {
    line-height: 1.563em;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: $orange;
}
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/iconmoon/icomoon.eot?zb87qz');
    src: url('../fonts/iconmoon/icomoon.eot?zb87qz#iefix') format('embedded-opentype'), url('../fonts/iconmoon/icomoon.ttf?zb87qz') format('truetype'), url('../fonts/iconmoon/icomoon.woff?zb87qz') format('woff'), url('../fonts/iconmoon/icomoon.svg?zb87qz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*=" icon-"],
[class^="icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bell-blue::before {
    content: "\e900";
    font-size: 15px;
    position: relative;
    position: absolute;
    left: 35px;
    top: 4px;
}
@media screen and (max-width: 480px) {
    h2 {
        font-size: 1.4em;
    }
}

.uppercase {
    text-transform: uppercase;
}

span.label {
    font-size: 16px;
}
